@font-face {
    font-family: Chunckfive;
    src: url('../fonts/Chunkfive.otf');
}

@font-face {
    font-family: PreloBold;
    src: url('../fonts/Prelo-Bold.otf');
}

@font-face {
    font-family: PreloLight;
    src: url('../fonts/Prelo-Light.otf');
}

body, html {
    font-size: 1em;
}

h1.title, label.label {
    color: white;
}

h1.title {
    font-family: Chunckfive, sans-serif;
    font-weight: normal;
}

label.label {
    font-family: PreloBold, sans-serif;
    font-weight: initial;
}

.button {
    margin: 10px;
    font-size: 1em;
    background: #edeeee;
    color: #1c729b;
    box-shadow: #618aff;
    text-transform: uppercase;
}

.hero .hero-head .logos {
    display: flex;
    margin: 3rem;
}

.hero .hero-head .logos .logo {
    margin: 1rem;
}

.hero .hero-head .logos .logo .is-100x100 {
    width: 148px;
}

.label:not(:last-child) {
    margin-bottom: .3em;
}

form .field-button {
    margin-top: 2rem;
}

form .field-button button {
    width: 150px;
    padding-top: calc(0.300em - 1px);
    pad

    ding-bottom: calc(0.300em - 1px);
}

.word-play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.word-play figure img {
    align-self: center;
    width: 500px;
}

.select select {
    padding-left: 1rem;
    color: #B6B6B8;
    max-width: 170px;
    border-radius: 0;
    height: 40px;
    font-family: Prelo-Light, sans-serif;
    font-weight: initial;
}

.select:not(.is-multiple)::after {
    border: none;
    border-right: 0;
    border-top: 0;
    content: "▼";
    transform: initial;
    top: 35%;
    color: #EB2227;
}

.field-body > .field:not(:last-child) {
    margin-right: 3.5rem;
}

.hero {
    background-image: url('../template/images/background.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    height: 100vh;
}